@font-face {
	font-family: 'EuropeExt';
	src: url('../fonts/EuropeExtNormal.eot');
	src: local('☺'), url('../fonts/EuropeExtNormal.woff') format('woff'), url('../fonts/EuropeExtNormal.ttf') format('truetype'), url('../fonts/EuropeExtNormal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'EuropeExt';
	src: url('../fonts/EuropeExtBold.eot');
	src: local('☺'), url('../fonts/EuropeExtBold.woff') format('woff'), url('../fonts/EuropeExtBold.ttf') format('truetype'), url('../fonts/EuropeExtBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
   width: 1920px;
   margin-left: auto;
   margin-right: auto;
}
.container {
   max-width: 980px;
   margin-left: auto;
   margin-right: auto;
}

.header {
   background-color: #139f49;
   height: 80px;
}

.header__list {
   display: flex;
   height: 80px;
   align-items: center;
   justify-content:space-between;
   
}

.header__list a {
   font-family: 'Arial';
   color: white;
   font-size: 16px;
}

.header__list a:hover {
   border-top: 2px solid #f2f5f7;
   border-bottom: 2px solid #f2f5f7;
   padding:5px 0;
}



.main__slide {
   height: 720px;
   background-image: url(../img/art_museum.jpg);
   position: relative;
}

.slade {
   display: flex;
   justify-content:space-between;
   height: 140px;
   padding: 35px 0 0 0;
}

.block__content {
   color: #01983b;
   text-align: right;
   font-family: 'Arial';
   font-weight: 400;
}
.block__content img {
   vertical-align: middle;
}

.contacts {
   font-family: 'Arial';
   font-weight: 700;
   font-size: 16px;
   color: #2c2783;
   margin-top: 5px;
   margin-bottom: 5px;
}

.contacts a:hover {
   text-decoration: underline;
}

.contacts a:active {
   color: black;
}

.line {
   width: 389px;
   border-bottom: 1px solid #2c2783;;
}

.form {
   margin: 0px 0px 0px 5px;
}

.line__form {
   margin-top: 10px;
}
.line__form img {
   background-color: white;
}

.home__slide {
   height: 490px;
   background-repeat: no-repeat;
   position: relative;
}

.text__font {
   position: absolute;
   top: 318px;
   height: 142px;
   width: 772px;
   background-color: rgba(0, 0, 0, 0.4);
}

.textslide__top {
   font-family: 'EuropeExt';
   color: white;
   font-size: 36px;
   margin: 15px 0 0 25px;
}

.textslide__bottom {
   font-family: 'EuropeExt';
   font-weight: 700;
   color: white;
   font-size: 30px;
   margin: 0 0 0 25px;
}

.js-slider {
   z-index: 2;
}
.shadow {
   position: absolute;
   left: 280px;
   top: 585px;
}

.main__video {
   background-image: url(../img/penopolistirol.jpg);
   height: auto;
   background-repeat: no-repeat;
}

.video__logo {
   text-align: center;
   padding-top: 70px;
}

.title {
   text-align: center;
   margin-top: 24px;
   font-size: 30px;
   letter-spacing: 1px;
   font-family: 'EuropeExt';
   font-weight: 700;
   color: #073d79;
   margin-bottom: 20px;
}

.video {
   text-align: center;
}

.video img {
   margin-top: -28px;
}

.video__text {
   margin-bottom: -25px;
}

.video__text p {
   margin-bottom: 25px;
   font-size: 14px;
   font-family: "Arial";
   text-align: center;
}

.video__text a {
   font-weight: 700;
   color: black;
}

.button__video {
   text-align: center;
   margin-top: 40px;
   
}


.button__info {
   width: 405px;
   height: 52px;
   border-radius: 3px;
   filter: drop-shadow(0px 3px 2.5px rgba(0,0,0,0.5));
   background-color: #01983b;
   font-size: 24px;
   color: #ffffff;
   font-weight: 700;
   font-family: "EuropeExt";
   text-transform: uppercase;
   margin-bottom: 60px;
}

.button__info:hover {
   background-color: #29c063;
}

.button__info:active {
   background-color: #1e743f;
}

.main__scope {
   background-image: url(../img/font8.jpg);
   height: auto;
   background-repeat: no-repeat;
}

.content__foto {
   position: relative;
   display: flex;
   justify-content: center;
   margin-top: 35px;
   color: white;
   font-size: 24px;
   text-transform: uppercase;
   font-family: "Arial";
}
.foto1 {
   background-image: url(../img/building1.jpg);
   background-repeat: no-repeat;
   width: 615px;
   height: 313px;
   
}
.foto2 {
   background-image: url(../img/building2.jpg);
   background-repeat: no-repeat;
   width: 615px;
   height: 313px;
   
}

.text__left {
   margin-top: 22px;
   text-transform: uppercase;
   text-align: -webkit-right;
   margin-right: 5px;
}

.text__right {
   margin-top: 22px;
   text-transform: uppercase;
}

.text__left span {
   margin-right: 48px;
}

.text__right span {
   margin-left: 48px;
}

.text__left li:first-child {
   margin-top: 22px;
}
.text__right li:first-child {
   margin-top: 22px;
}

.text__right li {
   font-size: 14px;
   margin-bottom: 7px;
   background-color: #01983b;
   display: table;
   padding: 2px 30px 2px 48px;
}

.text__left li {
   font-size: 14px;
   margin-bottom: 7px;
   background-color: #01983b;
   display: table;
   padding: 2px 48px 2px 30px;
}

.text__right li::after {
   content: '';
   
}

.transparent__downleft {
   position: relative;
}
.transparent__downright {
   position: relative;
}


.transparent__downleft .transparent__img {
   position: absolute;
   top: 289px;
   right: 48px;
}

.transparent__downright .transparent__img {
   position: absolute;
   top: 289px;
   right: 374px;
}

.transparent {
   height: 23px;
   background-color: #fff;
   opacity: 0.3;
   position: absolute;
   top: 285px;
   width: 610px;
   right: 5px;
}

.block__rhombus {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.block__rhombus:nth-child(2n) {
   
}

.rhombus {
   background-image: url(../img/rhombus.png);
   height: 190px;
   width: 190px;
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.text__rhombus {
   text-align: center;
   margin-top: 20px;
}