@font-face {
   font-family: "EuropeExt";
   src: url("../fonts/EuropeExtNormal.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "EuropeExt";
   src: url("../fonts/EuropeExtBold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
}

* {
   margin: 0;
}

body {
   width: 1920px;
   margin-left: auto;
   margin-right: auto;
   overflow: overlay;
}
.container {
   max-width: 980px;
   margin-left: auto;
   margin-right: auto;
}

.header {
   background-color: #139f49;
   height: 80px;
}

.header__list {
   list-style: none;
   display: flex;
   height: 80px;
   align-items: center;
   justify-content: space-between;
   padding: 0;
}

.header__list a {
   text-decoration: none;
   font-family: "Arial", sans-serif;
   color: white;
   font-size: 16px;
}
.header__list .is-active,
.header__list a:hover {
   border-top: 2px solid #f2f5f7;
   border-bottom: 2px solid #f2f5f7;
   padding: 5px 0;
}

.header__list a:active {
   filter: drop-shadow(1px 3px 2.5px rgba(255, 255, 255, 0.782));
}

.main__slide {
   height: 720px;
   background-image: url(../img/art_museum.jpg);
   background-position: center;
   position: relative;
}

.slade {
   display: flex;
   justify-content: space-between;
   height: 100px;
   padding: 35px 0 0 0;
}

.block__content {
   color: #01983b;
   text-align: right;
   font-family: "Arial", sans-serif;
   font-weight: 400;
}
.block__content img {
   vertical-align: middle;
}

.social__insta img:hover {
   transform: scale(1.2);
}

.social__vk img:hover {
   transform: scale(1.2);
}

.contacts {
   font-family: "Arial", sans-serif;
   font-weight: 700;
   font-size: 16px;
   color: #2c2783;
   margin-top: 5px;
   margin-bottom: 5px;
}
.contacts a {
   text-decoration: none;
}

.contacts a:hover {
   text-decoration: underline;
}

.contacts a:active {
   color: black;
}

.line {
   width: 389px;
   border: 0;
   border-bottom: 1px solid #2c2783;
   outline: none;
}

.form {
   margin: 0 0 0 5px;
   cursor: pointer;
   border: 0;
   background: none;
   padding: 0;
}

.line__form {
   margin-top: 10px;
}
.line__form img {
   background-color: white;
}

.home__slide {
   height: 490px;
   background-repeat: round;
   position: relative;
}

.text__font {
   position: absolute;
   top: 318px;
   height: 142px;
   width: 772px;
   background-color: rgba(0, 0, 0, 0.4);
}

.textslide__top {
   font-family: "EuropeExt", "Arial", sans-serif;
   color: white;
   font-size: 36px;
   margin: 22px 0 0 25px;
}

.textslide__bottom {
   font-family: "EuropeExt", "Arial", sans-serif;
   font-weight: 700;
   color: white;
   font-size: 30px;
   margin: -8px 0 0 25px;
}

.js-slider {
   z-index: 2;
}
.shadow {
   position: absolute;
   left: 280px;
   top: 585px;
}

.main__video {
   background-image: url(../img/penopolistirol.jpg);
   height: auto;
   background-repeat: no-repeat;
}

.logo {
   text-align: center;
   padding-top: 62px;
}

.title {
   text-align: center;
   margin-top: 24px;
   font-size: 30px;
   letter-spacing: 1px;
   font-family: "EuropeExt", "Arial", sans-serif;
   font-weight: 700;
   color: #073d79;
   margin-bottom: 20px;
   text-transform: uppercase;
}

.video {
   text-align: center;
}

.video img {
   margin-top: -28px;
}

.video__text {
   margin-bottom: -25px;
}

.video__text p {
   margin-bottom: 25px;
   font-size: 14px;
   font-family: "Arial", sans-serif;
   text-align: center;
}

.video__text a {
   font-weight: 700;
   color: black;
   text-decoration: none;
}

.button__video {
   text-align: center;
   margin-top: 40px;
}

.button__info {
   width: 405px;
   height: 52px;
   border-radius: 3px;
   filter: drop-shadow(0 3px 2.5px rgba(0, 0, 0, 0.5));
   background-color: #01983b;
   font-size: 24px;
   color: #ffffff;
   font-weight: 700;
   font-family: "EuropeExt", "Arial", sans-serif;
   text-transform: uppercase;
   margin-bottom: 60px;
   border: 0;
   cursor: pointer;
}

.button__info:hover {
   background-color: #29c063;
}

.button__info:active {
   background-color: #1e743f;
}

.main__scope {
   background-image: url(../img/font8.jpg);
   background-position: center;
   height: auto;
   background-repeat: no-repeat;
}

.content__foto {
   position: relative;
   display: flex;
   justify-content: center;
   margin-top: 35px;
   color: white;
   font-size: 24px;
   text-transform: uppercase;
   font-family: "Arial", sans-serif;
}
.foto1 {
   background-image: url(../img/building1.jpg);
   background-repeat: no-repeat;
   width: 615px;
   height: 313px;
}
.foto2 {
   background-image: url(../img/building2.jpg);
   background-repeat: no-repeat;
   width: 615px;
   height: 313px;
}

.text__left {
   margin-top: 22px;
   text-transform: uppercase;
   text-align: -webkit-right;
   margin-right: 5px;
}

.text__right {
   margin-top: 22px;
   text-transform: uppercase;
}

.text__right ul {
   padding: 0;
}

.text__left span {
   margin-right: 48px;
}

.text__right span {
   margin-left: 48px;
}

.text__left li:first-child {
   margin-top: 15px;
}
.text__right li:first-child {
   margin-top: 15px;
}

.text__right li {
   font-size: 14px;
   margin-bottom: 7px;
   background-color: #01983b;
   display: table;
   padding: 2px 30px 2px 48px;
   position: relative;
}

.text__left li {
   font-size: 14px;
   margin-bottom: 7px;
   background-color: #01983b;
   display: table;
   padding: 2px 48px 2px 30px;
   position: relative;
}

.text__right li::after {
   position: absolute;
   top: 0;
   right: -42px;
   content: "";
   background-color: #01983b;
   height: -webkit-fill-available;
   width: 42px;
   opacity: 0.7;
}

.text__right li::before {
   position: absolute;
   top: 0;
   right: -84px;
   content: "";
   background-color: #01983b;
   height: -webkit-fill-available;
   width: 42px;
   opacity: 0.3;
}

.text__left li::before {
   position: absolute;
   top: 0;
   left: -42px;
   content: "";
   background-color: #01983b;
   height: -webkit-fill-available;
   width: 42px;
   opacity: 0.7;
}

.text__left li::after {
   content: "";
   position: absolute;
   top: 0;
   left: -84px;
   background-color: #01983b;
   height: -webkit-fill-available;
   width: 42px;
   opacity: 0.3;
}

.transparent__downleft {
   position: relative;
}
.transparent__downright {
   position: relative;
}

.transparent__downleft .transparent__img {
   position: absolute;
   top: 285px;
   right: 51px;
}

.transparent__downright .transparent__img {
   position: absolute;
   top: 285px;
   right: 368px;
}

.transparent {
   height: 23px;
   background-color: #fff;
   opacity: 0.3;
   position: absolute;
   top: 285px;
   width: 610px;
   right: 5px;
}

.block__rhombus {
   display: flex;
   justify-content: center;
   margin-top: 45px;
   margin-bottom: 70px;
}

.rhomb:nth-child(even) {
   padding-top: 50px;
}

.rhombus {
   background-image: url(../img/rhombus.png);
   height: 190px;
   width: 190px;
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.text__rhombus {
   text-align: center;
   margin-top: 20px;
   font-size: 14px;
   color: #01983b;
   font-weight: 700;
   font-family: "Arial", sans-serif;
   margin-right: auto;
   margin-left: auto;
   text-transform: uppercase;
   max-width: fit-content;
}

.title__characteristic {
   text-align: center;
   margin-top: 10px;
   font-size: 30px;
   letter-spacing: 1px;
   font-family: "EuropeExt", "Arial", sans-serif;
   font-weight: 700;
   color: #01983b;
   text-transform: uppercase;
}

.characteristic__content {
   background-image: url(../img/tableBackground.jpg);
   height: auto;
   background-repeat: no-repeat;
}

.block__characteristic {
   width: 1230px;
   height: auto;
   border-radius: 4px;
   background-color: rgba(255, 255, 255, 0.5);
   border: 3px solid #d5dfec;
   margin-left: auto;
   margin-right: auto;
}

.table__characteristic {
   margin-right: auto;
   margin-left: auto;
   border-collapse: collapse;
   margin-top: 20px;
   border-top: 4px solid #d5dfec;
   background-color: #fff;
   overflow: hidden;
   border-radius: 4px;
   position: relative;
   font-size: 14px;
}

.table__characteristic td {
   border: 1px solid #d5dfec;
   height: 39px;
   font-family: "Arial", sans-serif;
   text-align: center;
   padding: 0 15px 0 15px;
}
.table__characteristic tr:first-child {
   background-color: #01983b;
   color: #fff;
}
.table__characteristic tr:nth-child(even) {
   background-color: #f2f5f7;
}

.table__characteristic td:first-of-type {
   text-align: left;
}
.table__characteristic tr:first-of-type {
   font-weight: 700;
}

.shadow__table {
   margin-top: -18px;
}

.title__tasks {
   text-align: center;
   margin-top: 28px;
   margin-bottom: 30px;
   font-size: 30px;
   letter-spacing: 1px;
   font-family: "EuropeExt", "Arial", sans-serif;
   font-weight: 700;
   color: #01983b;
   text-transform: uppercase;
}

.content__tasks {
   background-image: url(../img/backgroundTask.jpg);
   background-repeat: no-repeat;
}

.tasks__list {
   border-spacing: 0 5px;
   margin-left: auto;
   margin: auto;
   max-width: 1230px;
   line-height: 1.3;
   font-size: 14px;
}

.table__tasks {
   color: #ffffff;
   font-family: "Arial", sans-serif;
}

.table__list td {
   background-color: #ff0000;
   box-sizing: border-box;
   padding: 5px 0 5px 5px;
}

.table__list td:nth-child(1) {
   opacity: 0.3;
   font-size: 0;
   width: 60px;
}
.table__list td:nth-child(2) {
   opacity: 0.7;
   font-size: 0;
   width: 60px;
}
.table__list td:nth-child(3) {
   vertical-align: top;
}
.table__list td:nth-child(4) {
   width: 315px;
   vertical-align: top;
   padding-top: 12px;
}
.table__list td:nth-child(5) {
   opacity: 0;
   width: 10px;
}
.table__list td:nth-child(6) {
   vertical-align: top;
   background-color: #01983b;
}
.table__list td:nth-child(7) {
   vertical-align: top;
   padding-top: 12px;
   background-color: #01983b;
}
.table__list td:nth-child(8) {
   opacity: 0.7;
   font-size: 0;
   width: 60px;
   background-color: #01983b;
}
.table__list td:nth-child(9) {
   opacity: 0.3;
   font-size: 0;
   width: 60px;
   background-color: #01983b;
}

.table__tasks img {
   padding: 0 20px 0 10px;
}

.title__certificates {
   text-align: center;
   margin-top: 15px;
   font-size: 30px;
   letter-spacing: 1px;
   font-family: "EuropeExt", "Arial", sans-serif;
   font-weight: 700;
   color: #2c2783;
   margin-bottom: 25px;
   text-transform: uppercase;
}

.fancy__slider {
   text-align: center;
}
.fancy__slider img {
   margin: 0 20px;
}

.title__prize {
   font-size: 24px;
   text-align: center;
   font-family: "EuropeExt", "Arial", sans-serif;
   font-weight: 700;
   color: #2c2783;
   text-transform: uppercase;
   margin-top: 20px;
   margin-bottom: 10px;
}

.logo__prize {
   text-align: center;
   margin-bottom: 45px;
}

.contakt__footer {
   width: 1220px;
   height: 200px;
   border-radius: 0 0 20px 20px;
   filter: drop-shadow(0px 3px 2.5px rgba(0, 0, 0, 0.5));
   background-color: #01983b;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   position: inherit;
   z-index: 1;
}

.contakt__footer h1 {
   font-size: 30px;
   color: #ffffff;
   font-weight: 700;
   font-family: "EuropeExt", "Arial", sans-serif;
   text-transform: uppercase;
   padding-top: 30px;
   padding-bottom: 10px;
}

.contakt__text {
   width: 565px;
   font-size: 18px;
   color: #ffffff;
   font-family: "Arial", sans-serif;
   letter-spacing: 1px;
   line-height: 1.3;
   margin-left: auto;
   margin-right: auto;
}

.contakt__text a {
   color: #ffffff;
   font-size: 14px;
   line-height: 1.5;
   display: inline-block;
   margin-top: 7px;
   text-decoration: none;
}

.contakt__text a:last-child {
   margin: 0;
}

.footer__info {
   position: relative;
}

.footer__info iframe {
   position: absolute;
   top: 170px;
}

.footer {
   height: 280px;
   background-image: url(../img/backgroundFooter.jpg);
   margin-top: 311px;
   text-align: center;
   padding-top: 25px;
}
.footer span {
   display: block;
   color: #ffffff;
   font-weight: 700;
   font-family: "Arial", sans-serif;
   font-size: 12px;
}

.footer a {
   display: table;
   margin: 0 auto;
   margin-bottom: 6px;
}

.footer__soc a {
   display: inline;
   color: white;
   font-size: 12px;
}

.footer__soc span {
   margin-top: 15px;
   margin-bottom: 6px;
}

.footer__soc .wezom {
   color: #ffffff;
   font-weight: 700;
   font-family: "Arial", sans-serif;
   margin-top: 75px;
   text-transform: uppercase;
}

.footer__soc img:hover {
   transform: scale(1.2);
}

.wezom a {
   text-decoration: none;
}
